<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="tests">
	
	<listeners>
		<!-- <listener class-name="com.tgweb.runner.NGTestListener" /> -->
	</listeners>
	
	<test name="TG Web Functional Testing Scenario">
		<classes>
			<class name="com.matrix.tests.LoginTest"></class>
			<class name="com.matrix.tests.DashboardTest"></class>
			<class name="com.matrix.tests.SingaporeBetTest"></class>
		</classes>
	</test>
</suite>